* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 512px;
    border: 1px dashed;
}

.header-banner {
    width: 100%;
}

main {
    background-image: url(./assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 80px 30px;
}

#hero {
    text-align: center;
    padding: 40px;
}

h2 {
    font-family: 'Sigmar', serif;
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 20px;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

button {
    width: 100%;
    border: none;
    padding: 15px;
    margin: 5px 0;
    border-radius: 15px;
    font-size: 18px;
}

#download-button {
    background-color: white;
    margin-top: 20px;
}

#browser-button {
    font-family: 'DM Sans', sans-serif;
    background-color: #5662EC;
    color: white;
}

.card {
    background-color: #6B73D8;
    border-radius: 40px;
    padding: 80px 40px;
    margin-top: 80px;
    position: relative;
}

.card-icon {
    width: 130px;
    position: absolute;
    top: 0;
    left: 0;
    translate: 50% -50%;
    margin-bottom: 20px;
}

.card-thumbnail {
    margin-top: 20px;
    width: 100%;
    border-radius: 40px;
}