/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Sigmar&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

/* Variables */
:root {
    --dis-page-bg: #191d7b;
    --dis-card-bg: #5d64d1;
    --dis-primary-btn: #5865f2;
    --dis-black: black;
    --dis-white: white;
}

body {
    width: 512px;
    border: 1px dashed;
    background-color: var(--dis-page-bg);
    font-family: 'DM Sans', sans-serif;
}

/* Main */
main {
    padding: 4rem 2rem;
}

h1 {
    text-transform: uppercase;
    font-family: 'Sigmar', sans-serif;
    line-height: 1;
    font-size: 40px;
    margin: 1rem 0;
    font-weight: 500;
}

.jumbotron {
    text-align: center;
    padding: 0 2rem;
    color: var(--dis-white);
}

.btn {
    display: block;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0;
    font-size: 18px;
    text-decoration: none;
    border-radius: 1rem;
}

.btn-light {
    background-color: var(--dis-white);
}

.btn-primary {
    background-color: var(--dis-primary-btn);
    color: var(--dis-white);
}

/* Cards */

.cards {
    margin-top: 4rem;
}

.card {
    background-color: var(--dis-card-bg);
    border-radius: 2rem;
    position: relative;
    padding: 2rem;
    margin: 3rem 0;
    color: var(--dis-white);

    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card_img {
    border-radius: 2rem;
    margin: 1rem 0 3rem;
}

.card_icon {
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -50%;
}

h2 {
    text-transform: uppercase;
    font-family: 'Sigmar', sans-serif;
    line-height: 1;
    font-size: 40px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}